<div class="flex flex-col h-screen max-w-screen-xl mx-auto px-[10px]">
    <web_practice-header></web_practice-header>
    <main class="grow">
        <section class="auth flex flex-col items-center justify-center h-full">
            <div class="auth-form-container flex flex-col justify-center bg-white w-3/4 max-w-xl py-5 items-center rounded-lg shadow-lg">
                <h3 class="auth-form-title w-100 mb-5 text-xl font-medium">Вход</h3>
                <form action="" method="post" class="auth-form w-10/12 flex flex-col items-center mb-2.5">
                    <div class="flex flex-col w-full">
                        <input class="h-10 mb-5 px-1.5 border rounded-lg" type="text" name="" id="" placeholder="login">
                        <input class="h-10 mb-5 px-1.5 border rounded-lg" type="text" name="" id="" placeholder="password">
                    </div>
                    <input class="text-center h-10 px-5 bg-green-500 rounded-lg text-white hover:px-6 hover:px-6" type="submit" value="Войти">
                </form>
            </div>
        </section>
    </main>
    <web_practice-footer></web_practice-footer> 
</div>
