<div class="flex flex-col h-screen max-w-screen-xl mx-auto px-[10px]">
    <web_practice-header></web_practice-header>
    <main class="grow">
        <section class="auth flex flex-col items-center justify-center ">
            <div class="w-full flex flex-col items-center">
                <button class="text-center h-10 px-5 bg-green-500 rounded-lg text-white hover:px-6 hover:px-6 mb-[25px]">Добавить каталог</button>
                <div class="flex w-3/4 max-w-screen-xl mx-auto">
                    <div class="">
                        <h2>Заголовок 1</h2>
                    </div>
                    <div class="">
                        <h2>Заголовок 2</h2>
                    </div>
                    <div class="">
                        <h2>Заголовок 3</h2>
                    </div>
                    <div class="">
                        <h2>Заголовок 4</h2>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <web_practice-footer></web_practice-footer> 
</div>